@{
    ViewBag.Title = "Calculation";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <p><span>The distance between stations is: </span><span>@ViewBag.DistanceBetweenStations</span></p>
</div>
</body>
</html>