@model IEnumerable<BusStopCalculator.DTO.Models.BusStation>
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("CalculateDistance", "Home", FormMethod.Post))
    {
        <span>From</span>
        <select name="fromStationId">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span>To</span>
        <select id="to" name="toStationId">
            @foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <input type="submit" value="Calculate" />
    }
</div>
</body>
</html>